.homepage-section {
  background: url(/src/images/viber-bg.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  background-blend-mode: multiply;
  background-color: #a3a3a3;
  overflow-x: hidden;
}

.navbar {
  z-index: 1;
  width: 100%;
  position: fixed;
}

.nav-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

.logo svg {
  width: 160px;
  height: 100%;
  fill: transparent;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.logo svg path {
  stroke-width: 3.5;
}

.logo svg:hover {
  fill: white;
}

.nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links li a {
  display: inline-block;
  margin-left: 3.5em;
  text-decoration: none;
  text-transform: uppercase;
  color: #d6d6d6;
  font-size: 1.2rem;
  font-weight: 300;
  text-shadow: 2px 2px 1px black;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.nav-links li a:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

.hamburger-checkbox,
.hamburger-toggle {
  display: none;
}

.hamburger-toggle {
  color: white;
}

.homepage-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slogan h1 {
  color: whitesmoke;
  font-size: 2.75rem;
  font-weight: 300;
  text-shadow: 2px 2px 1px black;
  text-transform: uppercase;
}

.slogan h3 {
  color: whitesmoke;
  font-size: 1.8rem;
  font-weight: 200;
  text-shadow: 2px 2px 1px black;
}

.slogan h3 b {
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.homepage-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.action-button {
  border: 2px solid whitesmoke;
  border-radius: 0.2em;
  background: transparent;
  color: whitesmoke;
  padding: 0.5em 3.5em;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background 0.5s ease, color 1s ease;
  transition: background 0.5s ease, color 1s ease;
}

.action-button:hover {
  background: whitesmoke;
  color: #222;
}

@media screen and (max-width: 1300px) {
  .slogan h1 {
    font-size: 2.5rem;
  }
  .slogan h3 {
    font-size: 1.5rem;
  }
  .action-button {
    padding: 0.5em 2.5em;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1080px) {
  .action-button {
    font-size: 1.2rem;
  }
  .homepage-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 2em;
  }
  .logo {
    z-index: 3;
  }
  .hamburger-toggle {
    display: block;
    z-index: 5;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .hamburger-toggle span {
    position: relative;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }
  .hamburger-toggle span,
  .hamburger-toggle span::before,
  .hamburger-toggle span::after {
    content: "";
    display: block;
    background: white;
    height: 4px;
    width: 2.5em;
    border-radius: 2px;
  }
  .hamburger-toggle span::before {
    position: absolute;
    bottom: 0;
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .hamburger-toggle span::after {
    position: absolute;
    top: 0;
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav-links {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    overscroll-behavior: contain;
  }
  .hamburger-checkbox:checked ~ .nav-links {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .hamburger-checkbox:checked ~ .nav-links a {
    margin-left: 0;
    font-size: 2rem;
  }
  .hamburger-checkbox:checked ~ .hamburger-toggle span {
    background: rgba(0, 0, 0, 0);
  }
  .hamburger-checkbox:checked ~ .hamburger-toggle span::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hamburger-checkbox:checked ~ .hamburger-toggle span::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
/*# sourceMappingURL=style.css.map */